
.imagem__logo{
    justify-content:  center;
    width: 10em;
}
.imagem__Serviços{
    height: 100px;
    width: 100px;
}
.home__Boas{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3em;
}


/*MENU*/
.menu__list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu__link{
    color:rgb(255, 255, 255);
    background-color: rgb(20, 1, 1);
    padding: 10px;
    list-style: none;
    text-decoration: none;
    border-radius: 40px;
}

.imagem__logo{
    align-items:center;
    justify-content: center;
}




/*SOBRE*/
.sobre{
    font-size: 20px;
    border: 3.5px solid #000000;
    background-color: #cfcccc;
    border-radius: 10px;
    margin-top: 8em;
}
.sobre__titulo__mim{
    margin-bottom: 40px;
    margin-left: 0.5em;
    font-size: 3em;
}
.sobre__mim{
    font-size: 30px;
    margin-left: 1.5em;
}





/*SERVIÇOS GRID*/
.servicos{
    display: grid;
    grid-template-columns: 12em 12em 12em;
    grid-template-rows: 12em 12em 12em ; 
    border: 3.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #0328a1;
    outline: none;
    margin-top: 50px;
    justify-content: space-around;
    background-color: #cfcccc;
    margin-bottom: 50px;
}
.titulo__servicos{
    font-size: 4em;
    font-weight: bold;
}
.desing{
    display: flex;
    background-color: rgb(7, 115, 148);
    border-radius: 10px;
    padding: 10px;
    grid-column: 1;
    grid-row: 2;
}
.brading{
    display: flex;
    background-color: rgb(7, 115, 148);
    border-radius: 10px;
    padding: 10px;
    grid-column: 2;
    grid-row: 2;
}
.web{
    display: flex;
    background-color: rgb(7, 115, 148);
    border-radius: 10px;
    padding: 10px;
    grid-column: 3;
    grid-row: 2;
}
.imagem__Serviços{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 2.5em;
    grid-column: 1;
    grid-row: 2;
}

.imagem__Serviços_web{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 2.5em;
    grid-column: 3;
    grid-row: 2;
}
.imagem__Serviços_brading{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 2.5em;
    grid-column: 2;
    grid-row: 2;
}

/*DEPOIMENTOS*/
.Depoimentos{
    font-size: 2em;
    padding: 2.875rem;
    border: 3.5px solid #000000;
    border-radius: 0.5rem;
    box-shadow: 0.5px 3px 0 #1728c0;
    outline: none;
    background-color: #cfcccc;
}
.Depoimentos__Fotos{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-left: 2em;
}
.Silvio{
    margin-top: 50px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    
}
.Carlos{
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    
}
.Papa{
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    margin-top: 50px;
    
}

#contato{
    margin-top: 200px;
    margin-bottom: 200px;
}


/*Formulario de Contato*/
.input {
    font-family: "SF Pro";
    max-width: 190px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.input__Nome:focus {
    box-shadow: 5.5px 7px 0 rgb(16, 63, 2);
}
.input__Email:focus {
    box-shadow: 5.5px 7px 0 rgba(4, 160, 24, 0.897);
}
.input__Mensagem:focus {
    box-shadow: 5.5px 7px 0 rgb(64, 252, 6);
}
.button__Enviar{
    padding: 0.875rem;
    font-size: 1rem;
    max-width: 190px;
    border-radius: 15%;
}





/*RODAPÈ*/
.footer {
    background-color: #1a1a1a;
    color: #ccc;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: 23px;
    border-radius: 40px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}





@media (max-width: 600px) {
    body {
        background-color: rgb(75, 75, 75);
    }
    #servicos {
        display: grid;
        grid-template-columns: 12em 12em 12em 12em;
        grid-template-rows: 12em 12em 12em 12em; 
        min-height: 100vh;
        width: 50%;
        list-style: none; 
        padding: 0; 
        margin: 0;
    
    }
    .tituloserv{
        display: flex;
        font-style: italic;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
    .servico1{
        grid-column: 1;
        grid-row: 2;
    }
    .servico2{
        display: flex;
        font-style: italic;
        font-weight: bold;;
        background-color: rgb(11, 194, 250);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        grid-column: 1;
        grid-row: 3;
    }
    .servico3{
        display: flex;
        font-style: italic;
        font-weight: bold;
        background-color: rgb(79, 80, 80);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        grid-column: 1;
        grid-row: 4;
        margin-bottom: 100px;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    body {
        background-color: rgb(124, 124, 124);
    }
}
@media (min-width: 901px){
    body{
        background-color: rgb(255, 255, 255);
    };
}